/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html.aps,
body.aps {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif; }

.aps {
  /*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match your design.
    */
  /*
    * A better looking default horizontal rule
    */
  /*
    * Remove the gap between audio, canvas, iframes,
    * images, videos and the bottom of their containers:
    * https://github.com/h5bp/html5-boilerplate/issues/440
    */
  /*
    * Remove default fieldset styles.
    */
  /*
    * Allow only vertical resizing of textareas.
    */ }
  .aps button {
    line-height: 1.5; }
  .aps ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; }
  .aps ::selection {
    background: #b3d4fc;
    text-shadow: none; }
  .aps hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  .aps audio,
  .aps canvas,
  .aps iframe,
  .aps img,
  .aps svg,
  .aps video {
    vertical-align: middle; }
  .aps fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  .aps textarea {
    resize: vertical; }
  .aps hr {
    border-top: 1px solid #e8e8e8; }
    .aps hr.c-hr {
      margin: 0; }
  .aps :focus {
    outline: 0; }
  .aps img {
    max-width: 100%; }
  .aps input[type=number]::-webkit-outer-spin-button,
  .aps input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .aps input[type=number] {
    -moz-appearance: textfield; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*------------------------     botton     ------------------------*/
.c-btn {
  font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif;
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 20px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }
  .c-btn i,
  .c-btn span {
    vertical-align: middle; }
  .c-btn--primary {
    background: #ff8300;
    border: 1px solid #ff8300;
    color: #ffffff; }
    .c-btn--primary:hover {
      background: #e47601;
      border: 1px solid #e47601; }
  .c-btn--secondary {
    background: transparent;
    border: 1px solid #ff8300;
    color: #ff8300; }
    .c-btn--secondary:hover {
      background: #e47601;
      border: 1px solid #e47601;
      color: #ffffff; }
  .c-btn--disabled {
    background: #acacac;
    border: 1px solid #acacac;
    color: #ffffff;
    cursor: default;
    pointer-events: none; }
    .c-btn--disabled:hover {
      background: #acacac;
      border: 1px solid #acacac;
      color: #ffffff; }
  .c-btn--right span {
    margin-right: 5px; }
  .c-btn--left span {
    margin-left: 5px; }
  .c-btn--lg {
    padding: 15px 30px; }
  .c-btn--sm {
    padding: 5px 10px; }

.l-actions {
  text-align: center;
  font-size: 0; }
  .l-actions > .c-btn {
    font-size: 16px; }
    .l-actions > .c-btn + .c-btn {
      margin-left: 32px; }

/*------------------------     component     ------------------------*/
.l-breadcrumb {
  margin-bottom: 20px; }

.c-breadCrumb {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0; }
  .c-breadCrumb li {
    display: inline-block;
    vertical-align: middle; }
    .c-breadCrumb li a {
      font-size: 14px;
      line-height: 1em;
      color: #8B8B8B; }
    .c-breadCrumb li + li {
      position: relative;
      padding-left: 20px; }
      .c-breadCrumb li + li:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -5px;
        display: block;
        width: 10px;
        height: 10px;
        background-size: 10px;
        background-image: url(../images/icon/chevron_right_gy.svg);
        background-repeat: no-repeat;
        background-position: center; }

.c-collapse {
  border: 1px solid #ff8300;
  border-radius: 4px; }
  .c-collapse + .c-collapse {
    margin-top: 8px; }
  .c-collapse__title {
    position: relative;
    padding: 8px 48px 8px 16px;
    background-color: #ff8300;
    color: #ffffff;
    cursor: pointer; }
    .c-collapse__title:after {
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -5px;
      display: block;
      width: 10px;
      height: 10px;
      background-size: 10px;
      background-image: url(../images/icon/chevron_down_wt.svg); }
  .c-collapse__content {
    max-height: 0;
    padding: 0 16px;
    overflow: hidden;
    transition: max-height .3s, padding .3s; }
  .c-collapse.is-active .c-collapse__title {
    font-weight: bold; }
    .c-collapse.is-active .c-collapse__title:after {
      background-image: url(../images/icon/chevron_up_wt.svg); }
  .c-collapse.is-active .c-collapse__content {
    max-height: 500px;
    padding-bottom: 16px; }
  .c-collapse--storage {
    border: 0; }
    .c-collapse--storage > .c-collapse__title {
      margin-bottom: 8px;
      padding: 0 24px 0 0;
      text-align: right;
      background-color: transparent;
      color: #8B8B8B; }
      .c-collapse--storage > .c-collapse__title:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        display: block;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-image: url(../images/icon/collapse-add-gy.svg); }
    .c-collapse--storage > .c-collapse__content {
      padding-right: 0;
      padding-left: 0;
      max-height: none; }
    .c-collapse--storage.is-storage > .c-collapse__title:after {
      background-image: url(../images/icon/collapse-minus-gy.svg); }

.c-alert {
  position: relative;
  padding: 8px 60px 8px 20px;
  background-color: #ff8300;
  color: #ffffff; }
  .c-alert__close {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2; }

.block {
  box-sizing: border-box;
  padding: 50px 0; }
  .block.-pk {
    position: relative;
    text-align: center;
    background-color: lightpink;
    height: 100vh; }
    .block.-pk .wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }
  .block.-gn {
    background-color: darkseagreen; }
  .block.-og {
    position: relative;
    background-color: peachpuff;
    height: 100vh; }
    .block.-og .wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }
  .block.-bu {
    background-color: lightskyblue;
    padding: 200px 0; }
  .block.-pl {
    background-color: darkslateblue;
    height: 100vh; }

.wrap {
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
  padding: 0 12px; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 48px; }

p {
  font-size: 20px;
  line-height: 1.5; }

.c-card {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden; }
  .c-card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    border: 1px solid #999;
    pointer-events: none; }
  .c-card__img {
    height: 192px; }
    .c-card__img img {
      width: 100%;
      height: 100%; }
  .c-card__content {
    position: relative;
    box-sizing: border-box;
    height: 176px;
    padding: 20px; }
  .c-card__title {
    max-height: 36px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold; }
  .c-card__text {
    max-height: 48px; }
  .c-card__link {
    position: absolute;
    right: 20px;
    bottom: 20px; }

.l-card {
  width: 320px;
  margin: auto;
  margin-bottom: 12px; }
  .l-card__item {
    padding-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .l-card {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 660px; }
      .l-card__item {
        margin-right: 20px; }
        .l-card__item:nth-of-type(even) {
          margin-right: 0; }
      .l-card--long {
        width: 100%; }
      .l-card--long .l-card__item {
        width: 100%;
        margin-right: 0; } }
  @media only screen and (min-width: 1024px) {
    .l-card {
      width: 100%; }
      .l-card__item:nth-of-type(even) {
        margin-right: 20px; }
      .l-card__item:nth-of-type(3n) {
        margin-right: 0; }
      .l-card--short .l-card__item:nth-of-type(3n) {
        margin-right: 20px; }
      .l-card--short .l-card__item:nth-of-type(even) {
        margin-right: 0; }
      .l-card--long .l-card__item:nth-of-type(even) {
        margin-right: 0; } }

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 50px;
  font-size: 20px;
  color: #fff;
  border-radius: 27px;
  background-color: brown; }

.card {
  position: relative;
  width: 310px;
  height: 360px;
  margin: auto; }
  .card__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 5; }
  .card__img img {
    width: 100%; }
  .card__content {
    padding: 20px;
    padding-top: 0; }

.scrollText {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: center;
          align-items: center; }
  .scrollText-text, .scrollText-icon {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto; }
  .scrollText-icon {
    position: relative; }

.text + .text {
  margin-top: 20px; }

.text:first-of-type {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: lightskyblue; }
  .icon:first-of-type {
    opacity: 1;
    position: static; }
  .icon img {
    width: 200px; }

/*------------------------     form     ------------------------*/
/*------------------------     gaps     ------------------------*/
.u-gapH {
  margin: 0 15px; }
  .u-gapH--min {
    margin: 0 5px; }
  .u-gapH--sm {
    margin: 0 10px; }
  .u-gapH--md {
    margin: 0 20px; }
  .u-gapH--lg {
    margin: 0 30px; }
  .u-gapH--max {
    margin: 0 60px; }

.u-gapV {
  margin: 15px 0; }
  .u-gapV--min {
    margin: 5px 0; }
  .u-gapV--sm {
    margin: 10px 0; }
  .u-gapV--md {
    margin: 20px 0; }
  .u-gapV--lg {
    margin: 30px 0; }
  .u-gapV--max {
    margin: 60px 0; }

.u-gapNextV + .u-gapNextV {
  margin-top: 15px; }

.u-gapNextV--min + .u-gapNextV--min {
  margin-top: 5px; }

.u-gapNextV--sm + .u-gapNextV--sm {
  margin-top: 10px; }

.u-gapNextV--md + .u-gapNextV--md {
  margin-top: 20px; }

.u-gapNextV--lg + .u-gapNextV--lg {
  margin-top: 30px; }

.u-gapNextV--max + .u-gapNextV--max {
  margin-top: 60px; }

.u-gapNextH + .u-gapNextH {
  margin-left: 15px; }

.u-gapNextH--min + .u-gapNextH--min {
  margin-left: 5px; }

.u-gapNextH--sm + .u-gapNextH--sm {
  margin-left: 10px; }

.u-gapNextH--md + .u-gapNextH--md {
  margin-left: 20px; }

.u-gapNextH--lg + .u-gapNextH--lg {
  margin-left: 30px; }

.u-gapNextH--max + .u-gapNextH--max {
  margin-left: 60px; }

.u-gapTop {
  margin-top: 15px; }
  .u-gapTop--min {
    margin-top: 5px; }
  .u-gapTop--sm {
    margin-top: 10px; }
  .u-gapTop--md {
    margin-top: 20px; }
  .u-gapTop--lg {
    margin-top: 30px; }
  .u-gapTop--max {
    margin-top: 60px; }

.u-gapBottom {
  margin-bottom: 15px; }
  .u-gapBottom--min {
    margin-bottom: 5px; }
  .u-gapBottom--sm {
    margin-bottom: 10px; }
  .u-gapBottom--md {
    margin-bottom: 20px; }
  .u-gapBottom--lg {
    margin-bottom: 30px; }
  .u-gapBottom--max {
    margin-bottom: 60px; }

.u-gapLeft {
  margin-left: 15px; }
  .u-gapLeft--min {
    margin-left: 5px; }
  .u-gapLeft--sm {
    margin-left: 10px; }
  .u-gapLeft--md {
    margin-left: 20px; }
  .u-gapLeft--lg {
    margin-left: 30px; }
  .u-gapLeft--max {
    margin-left: 60px; }

.u-gapRight {
  margin-right: 15px; }
  .u-gapRight--min {
    margin-right: 5px; }
  .u-gapRight--sm {
    margin-right: 10px; }
  .u-gapRight--md {
    margin-right: 20px; }
  .u-gapRight--lg {
    margin-right: 30px; }
  .u-gapRight--max {
    margin-right: 60px; }

/*------------------------     gird     ------------------------*/
[class^="l-cols__"] {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.l-cols {
  display: block;
  position: relative;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  box-sizing: border-box;
  zoom: 1; }
  .l-cols:before, .l-cols:after {
    content: " ";
    display: table; }
  .l-cols:after {
    clear: both; }
  .l-cols__1 {
    width: 4.16667%; }
  .l-cols__2 {
    width: 8.33333%; }
  .l-cols__3 {
    width: 12.5%; }
  .l-cols__4 {
    width: 16.66667%; }
  .l-cols__5 {
    width: 20.83333%; }
  .l-cols__6 {
    width: 25%; }
  .l-cols__7 {
    width: 29.16667%; }
  .l-cols__8 {
    width: 33.33333%; }
  .l-cols__9 {
    width: 37.5%; }
  .l-cols__10 {
    width: 41.66667%; }
  .l-cols__11 {
    width: 45.83333%; }
  .l-cols__12 {
    width: 50%; }
  .l-cols__13 {
    width: 54.16667%; }
  .l-cols__14 {
    width: 58.33333%; }
  .l-cols__15 {
    width: 62.5%; }
  .l-cols__16 {
    width: 66.66667%; }
  .l-cols__17 {
    width: 70.83333%; }
  .l-cols__18 {
    width: 75%; }
  .l-cols__19 {
    width: 79.16667%; }
  .l-cols__20 {
    width: 83.33333%; }
  .l-cols__21 {
    width: 87.5%; }
  .l-cols__22 {
    width: 91.66667%; }
  .l-cols__23 {
    width: 95.83333%; }
  .l-cols__24 {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .l-cols__1\@m {
      width: 4.16667%; }
    .l-cols__2\@m {
      width: 8.33333%; }
    .l-cols__3\@m {
      width: 12.5%; }
    .l-cols__4\@m {
      width: 16.66667%; }
    .l-cols__5\@m {
      width: 20.83333%; }
    .l-cols__6\@m {
      width: 25%; }
    .l-cols__7\@m {
      width: 29.16667%; }
    .l-cols__8\@m {
      width: 33.33333%; }
    .l-cols__9\@m {
      width: 37.5%; }
    .l-cols__10\@m {
      width: 41.66667%; }
    .l-cols__11\@m {
      width: 45.83333%; }
    .l-cols__12\@m {
      width: 50%; }
    .l-cols__13\@m {
      width: 54.16667%; }
    .l-cols__14\@m {
      width: 58.33333%; }
    .l-cols__15\@m {
      width: 62.5%; }
    .l-cols__16\@m {
      width: 66.66667%; }
    .l-cols__17\@m {
      width: 70.83333%; }
    .l-cols__18\@m {
      width: 75%; }
    .l-cols__19\@m {
      width: 79.16667%; }
    .l-cols__20\@m {
      width: 83.33333%; }
    .l-cols__21\@m {
      width: 87.5%; }
    .l-cols__22\@m {
      width: 91.66667%; }
    .l-cols__23\@m {
      width: 95.83333%; }
    .l-cols__24\@m {
      width: 100%; } }

/*------------------------     header     ------------------------*/
.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.5;
  color: inherit;
  text-align: inherit; }
  .t1--normal,
  .t2--normal,
  .t3--normal,
  .t4--normal,
  .t5--normal,
  .t6--normal {
    font-weight: normal; }

.t1 {
  font-size: 30px; }

.t2 {
  font-size: 24px; }

.t3 {
  font-size: 20px; }

.t4 {
  font-size: 18px; }

.t5 {
  font-size: 16px; }

.t6 {
  font-size: 14px; }

.o-fBold {
  font-weight: bold; }

.o-fNormal {
  font-weight: normal; }

/*------------------------     icon     ------------------------*/
.c-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
  .c-icon:before, .c-icon:after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .c-icon:before {
    content: ""; }
  .c-icon > span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 1rem;
    color: #808080; }
  .c-icon--suffix:before {
    content: none; }
  .c-icon--suffix:after {
    content: ""; }
  .c-icon--suffix > span {
    margin-left: 0;
    margin-right: 5px; }
  .c-icon--effect {
    transition: all 0.3s; }
    .c-icon--effect:hover {
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
  .c-icon--max:before, .c-icon--max:after {
    width: 50px;
    height: 50px;
    background-size: 50px; }
  .c-icon--lg:before, .c-icon--lg:after {
    width: 30px;
    height: 30px;
    background-size: 30px; }
  .c-icon--md:before, .c-icon--md:after {
    width: 15px;
    height: 15px;
    background-size: 15px; }
  .c-icon--min:before, .c-icon--min:after {
    width: 10px;
    height: 10px;
    background-size: 10px; }
  .c-icon--closeWt:before, .c-icon--closeWt:after {
    background-image: url(../images/icon/wt/close-wt.svg); }
  .c-icon--crownWt:before, .c-icon--crownWt:after {
    background-image: url(../images/icon/wt/crown-wt.svg); }
  .c-icon--homeGy:before, .c-icon--homeGy:after {
    background-image: url(../images/icon/gy/home-gy.svg); }
  .c-icon--hvrCrownOg:before, .c-icon--hvrCrownOg:after {
    background-image: url(../images/icon/og/crown-og.svg); }
  a:hover .c-icon--hvrCrownOg:before, a:hover .c-icon--hvrCrownOg:after {
    background-image: url(../images/icon/wt/crown-wt.svg); }
  .c-icon--toggle:before {
    background-image: url(../images/icon/chevron_down_gy.svg);
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  .is-chosen .c-icon--toggle:before {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); }

/*------------------------     layout     ------------------------*/
.l-promptBlock {
  padding: 20px;
  background-color: #fff7e6; }

/*------------------------     link     ------------------------*/
a {
  color: #333333;
  text-decoration: none;
  outline: 0; }
  a:hover {
    text-decoration: none; }
  a[data-tooltip], a[data-tooltip-emoticon] {
    cursor: pointer; }

.c-link {
  color: #333333; }
  .c-link--gn {
    font-weight: bold;
    color: #ff8300; }
    .c-link--gn:hover {
      color: #ff8300; }
  .c-link--underline {
    text-decoration: underline; }
  .c-link:hover {
    color: #ff8300; }

.c-iconLink {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: #808080;
  position: relative; }
  .c-iconLink:before, .c-iconLink:after {
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain; }
  .c-iconLink:before {
    content: ""; }
  .c-iconLink:hover {
    color: #ff8300; }
  .c-iconLink[class~=is-active] {
    color: #ff8300;
    font-weight: bold; }
  .c-iconLink > span,
  .c-iconLink > i {
    display: inline-block;
    vertical-align: middle; }
  .c-iconLink--suffix:before {
    content: none; }
  .c-iconLink--suffix:after {
    content: ""; }
  .c-iconLink--gn {
    font-weight: bold;
    color: #ff8300; }
    .c-iconLink--gn:hover {
      color: #ff8300; }
  .c-iconLink--btn {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    padding: 15px 0; }

/*------------------------     list     ------------------------*/
/*------------------------     pagination     ------------------------*/
/*------------------------     plugin     ------------------------*/
/* ==========================================================================
   Select2
   ========================================================================== */
.select2-container {
  width: 100% !important; }
  .select2-container .select2-selection--single {
    height: 40px !important; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 40px !important; }
  .select2-container .select2-selection--multiple {
    min-height: 40px !important;
    line-height: 1em !important; }
    .select2-container .select2-selection--multiple .select2-selection__rendered li {
      height: 24px;
      line-height: 24px; }

.select2-container--default .select2-selection--single.is-container-error {
  border: 1px solid #E43939; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important; }

.c-optionItem__flag {
  margin: 0 !important;
  display: inherit !important;
  height: 15px;
  width: 18px;
  vertical-align: text-top; }

/*------------------------     popup     ------------------------*/
/*------------------------     table     ------------------------*/
/*------------------------     tab     ------------------------*/
/*------------------------     _utility     ------------------------*/
/*---------------------- text align ----------------------*/
.u-tal {
  text-align: left; }

.u-tar {
  text-align: right; }

.u-tac {
  text-align: center; }

.u-vam {
  vertical-align: middle; }

.u-vat {
  vertical-align: top; }

.u-overflow {
  position: relative; }
  .u-overflow:after {
    content: '';
    display: block;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.u-hidden {
  display: none !important; }

.u-visibilityHidden {
  visibility: hidden; }

.u-ellipsis {
  display: block;
  display: -webkit-box;
  max-height: 1.5em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; }
  .u-ellipsis--two {
    display: block;
    display: -webkit-box;
    max-height: 1.5em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-height: 3em;
    -webkit-line-clamp: 2; }

.u-distinguish {
  padding: 20px;
  background-color: #FAFAFA; }

/* ==========================================================================
   Page classes
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
